body{
    background-image: linear-gradient(#3b1566, #5f4da8);
    height: 100dvh;
    background-color: #3b1566;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d6d6ea;
}

.container-aplicativo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}

#informacoes-faixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 1rem 0;
}

#anterior, #proximo {
    font-size: 2rem;
}

#play-pause {
    font-size: 3rem;
}

#container-botoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
}